* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc5c5;
}

.container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.calculs input {
  width: 100%;
  text-align: right;
  font-size: 40px;
  padding: 30px;
  background-color: #858694;
  color: #fff;
}

.btns-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.button {
  font-size: 40px;
  border: 0;
  padding: 40px;
}

.sign {
  background-color: #f5913e;
}

.zero {
  grid-column: 1 / span 2;
}
